*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: white;
}
h1{
    height: 5rem;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: white;
}

.choice:active{
    opacity: 0.5;
}

img{
    height: 200px;
    width: 200px;
   border-radius: 50%;
   margin: 1rem;
   object-fit: cover;

}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 3rem;
}
#user-score{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#com-score{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    background-color: ghostwhite;
    color: black;
    height: 4rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    border-radius: 5px;
}